# Ansible playbook for deploy the Create Go App project.
# Author: Vic Shóstak <koddr.me@gmail.com> (https://github.com/koddr)
# For more information, please visit https://github.com/create-go-app/cli

---
#
# Playbook for deploy.
#
- name: Deploy the Create Go App project
  hosts: cgapp_project

  #
  # List of all roles (conditional roles are enabled by capability contracts).
  #
  roles:
    - { role: docker, tags: [docker] }
    - { role: backend, tags: [backend] }
{{- if ne .RoleCache "none" }}
    - { role: redis, tags: [redis] }
{{- end }}
{{- if ne .RoleDatabase "none" }}
    - { role: postgres, tags: [postgres] }
{{- end }}
{{- if ne .RoleProxy "none" }}
    - { role: {{ .RoleProxy }}, tags: [{{ .RoleProxy }}] }
{{- end }}
